doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title zhanqh
    link(rel='stylesheet', href='//cdn.bootcss.com/weui/0.4.3/style/weui.min.css')
    link(rel='stylesheet', href='//cdn.bootcss.com/jquery-weui/0.8.0/css/jquery-weui.min.css')
    link(rel='stylesheet', href='/css/bus_styles.css')
  body(ontouchstart='')
    .header
      #bus_route_line1
        span#bus_route_name #{rn}
          // 公交路线名
        span#bus_route_time #{ft}-#{lt}
          // 首末班时间
        span#routeIdHidden(style="display:none;") #{rid}
      #bus_route_line2
        span#bus_route_fromto #{start} → #{end}
          // 起始站点
      span#bus_weui_btn
        a.weui_btn.weui_btn_mini.weui_btn_primary(href='javascript:;') 返程
    .main
      #mainContainer
        // 插入公交路线站点名称
        each val, index in arr
          .bus_station
            span= val
          .bus_mark
    .footer
      #bus_container
        span#footer_tip 轻触站点获取等待信息
        #bus_wait
          span.bus_wait_info
            span#bus_wait_time0.bus_wait_time
              // 等待时间
            span#bus_wait_stations0.bus_wait_stations
              // 等待站数
          span.bus_wait_info
            span#bus_wait_time1.bus_wait_time
              // 等待时间
            span#bus_wait_stations1.bus_wait_stations
              // 等待站数
          span.bus_wait_info
            span#bus_wait_time2.bus_wait_time
              // 等待时间
            span#bus_wait_stations2.bus_wait_stations
              // 等待站数
      #bus_reload
        img#reload_icon(src='/images/icon_bus_reload.png')
    script(src='//cdn.bootcss.com/jquery/1.11.0/jquery.min.js')
    script(src='//cdn.bootcss.com/jquery-weui/0.8.0/js/jquery-weui.min.js')
    script(src='/js/bus_spa.js')